<body>
  <div class="user-container text-color">
    <div class="namebtn">
      <br>
      <div class="user_name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <!--b class="btn btn-block"><%= link_to "Create Planet", new_planet_path %></b-->
        <a href="/planets/new"><button class="name noselect btn-create">Create Planet</button></a>
      </div>

      <div class="info-wrapper">
        <div class="user_page">
          <h2>Your trips:</h2>
          <% unless @user_bookings.empty? %>
            <% @user_bookings.each do |booking| %>
              <% planet = booking.planet %>
                <ul style="list-style: none">
                  <li><strong>Planet:</strong> <%= planet.name %> <strong>Start:</strong> <%= booking.start_date %> <strong>End:</strong> <%= booking.end_date %></li>
                </ul>
            <% end %>
          <% else %>
            <h4>You have no trips planned</h4>
          <% end %>
        </div>

        <div class="user_page">
          <h2>My planets:</h2>
        <% unless @user_planets.empty? %>
          <% @user_planets.each do |planet| %>
            <div class="my-planet">
              <div class="my-planet-info">
                <h4><%= planet.name %> </h4>
                <p><%= link_to "Edit", edit_planet_path(planet)%></p>
              </div>

              <h6>You have <%=planet.bookings.count%> bookings for <%=planet.name%></h6>
              <% unless planet.bookings.empty? %>
                <% planet.bookings.each do |booking| %>
                  <p><strong>Booked by:</strong> <%= booking.user.first_name %> <strong>Start:</strong> <%= booking.start_date %> <strong>End:</strong> <%= booking.end_date %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <h4>You have no planets</h4>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
