<div class="index-container">
  <div class="planet-header">
    <h1 class = "planets-title">Planets</h1>
    <div class="planet-map">
      <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="planets-container">
    <% @planets.each do |planet|%>
      <div id="planets-centerflipcards" class="centerflipcards">
        <div class="square-flip square-flip-card">
          <div id = "planet-square" class='square'>
            <div class="square-container square-container-planet">
              <div class="name-price">
                <h2 id="planet-name"><%= planet.name%></h2>
                <p id="planet-price">~IO^%%VX per light-year</p>
              </div>
              <div id="rating-info-container">
                <% rand(1..5).times do %>
                  <i class="fas fa-atom"></i>
                <% end %>
              </div>
            </div>
            <% if planet.photos.present? %>
              <div><%= cl_image_tag planet.photos.last.key, class: "backpic" %></div>
            <% end %>
            <div class="flip-overlay">
            </div>
          </div>
          <div id="planet-square2" class='square2' style="background-image: url('https://cdn.pixabay.com/photo/2020/02/15/03/25/alien-4849877_960_720.jpg')">
            <div id="planet-square-container2" class="square-container2">
              <a href="/planets/<%=planet.id%>"><button id="book" class="name noselect btn">More Info</button></a>
            </div>
            <div class="flip-overlay">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%# hi %>
