<div class="newplanet">
  <div class="title" style="text-align:center">
    <h1>Create a Planet</h1><br>
  </div>
  <div class="rounded">
      <%= simple_form_for @planet do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: 'btn btn-block', value: 'New Planet' %>
      <% end %>
  </div>
</div>
